* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100px;
    background-color: rgb(131, 183, 210);
    border: black .0625rem solid;
    border-radius: 15px;
}
.prova{
    background-color: rgb(208, 227, 146);
    font-size: 24px;
    border-radius: 15px;
    padding: 20px;
    color: cornflowerblue;
}